.header{

background:white;

box-shadow:
0 2px 10px rgba(0,0,0,.08);

}



.navbar{

padding:15px 20px;

display:flex;

align-items:center;

justify-content:space-between;

direction:rtl;

}



.logo{

font-size:24px;

font-weight:bold;

color:#2563eb;

}


.logo i{

color:#e63946;

margin-right:5px;

}




.nav-links{

display:flex;

list-style:none;

gap:25px;

}



.nav-links a{

text-decoration:none;

color:#334155;

font-size:15px;

font-weight:bold;

transition:.3s;

}


.nav-links a:hover{

color:#2563eb;

}



.login-btn{

text-decoration:none;

background:#2563eb;

color:white;
border: none;

padding:10px 20px;

border-radius:10px;

}



/* Mobile */

@media(max-width:768px){


.nav-links{

display:none;

}


.logo{

font-size:20px;

}


.login-btn{

padding:8px 15px;

font-size:14px;

}


}